
.navbar {
    position: relative;
    z-index: 1;
}
.navbar-nav {
    margin-left: auto !important;
}
/* navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky {
    background: white;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
.navbar-nav {
    margin-left: auto;
}
header .logo {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo {
    color: #111;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: white;
    text-decoration: none;
}
header.sticky ul li a {
    color: #111;
}
/* jumbotron */
.banner {
    background-image: url(img/pexels1.jpg);
    background-size: cover;
    position: relative;
}

.banner .container {
    position: relative;
    z-index: 1;
}
.banner::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    right: 3px;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}
.banner img {
    margin-top: 100px;
}


/* info panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    margin-top: -20px;
    background-color: white;
    z-index: 1;
    padding: 30px;
}

.info-panel img {
    max-width: 50px;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color: #ACACAC;
    margin-top: -5px;
    font-weight: 200;
}

/* service */
.service {
    background: #111;
}
.heading.white {
    color: white;

}
.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.servicelist {
    padding: 40px 20px;
    background: #222;
    color: white;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.servicelist:hover {
    background: #2196f3;
}
.servicelist img {
    max-width: 50px;
}
.servicelist h2 {
    font-size: 20px;
    font-weight: 600;
}

/* work */
.sec2 {
    background-color: #111;
}

/* contact */
.contact {
    background: url(img/adult.jpg);
    background-size: cover;
}

/* footer */
.footer {
    margin-top: -50px;
}


/* dekstop version */
@media (min-width: 992px) {

    .banner {
        margin-top: -56px;
        height: 640px;
    }
    

    
}

/* mobile version */
@media (min-width: 576px) {

    
}

/* Responsive */
@media (max-width: 991px) {
    header,
    header.sticky {
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: white;
        transition: 0.5s;
        z-index: 9999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active {
        left: 0;
    }
    header ul li a {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle {
        width: 40px;
        height: 40px;
        background: url(img/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
        transition: all 0.5s;
    }
    .toggle.active {
        background: url(img/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle {
        filter: invert(1);
    }